body{
    padding:0;
    margin:0px;
    background-image:linear-gradient(to top right, red, blue);
    background-repeat:no-repeat;
    font-family:Calibiri,sans-serif;
    color:white;
}
.container{
    width:1170px;
    padding:50px 5%;

}
form{
    display:flex;
    gap:10px;
}
input{
    height:30px;
}
input:focus{
    outline:none;
}
button{
    border:2px solid #ffffff;
    background:transparent;
    color:white;
    line-height: 30px;
    outline:none;
    cursor:pointer
}